
<head>
<div class="jumbotron JumboHeaderImg">
  <div class="container">
  <h2 class="display-4 text-center">Connect through</h2>
  <h1 class="lead text-center"> Online Events</h1>
  <div class="container text-center">
    <a href="<%= root_path%>" class="btn btn-primary text-center"  role="button">Browse Events </a>
</div>
</div>
</div>
</head>

<!-- card deck 2--->
<body>
  <div class="card-deck">
      <div class="card pmd-card">
          <div class="pmd-card-media">
            <img src="https://images.unsplash.com/photo-1508997449629-303059a039c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="1184" height="666" class="img-fluid">
             </div>
        	<% Event.all.reverse.each do |gossip| %>
          <div class="card-body">
							<h4 class="card-title"> <%= event.title %></h4>
							<span class="card-text"> <%= event.content %></span>
              <p class="card-text"><small class="text-muted">
              <%if event.start_date %>
               <%= event.start_date.strftime("%d/%m/%Y %H:%M") %>
              <% end %>
              </small><p>
                <p class="card-text"><small class="text-muted"> <%= event.author.first_name %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.price %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.duration %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.location %> </small></p>
          <p class="card-text"><small class="text-muted"> Nombre de participants => <%= event.users.count %> </small></p>
          <a href="<%= event_path(event.id) %>" class="btn btn-outline-light btn-block btn-sm my-3 btn-2">event</a>
              <hr>
					 </div>
			  	</div>
		 </div>
     <%end%>
</body>
