<% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Your event cannot be created for the following reasons:</p>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


<br></br>
<h1 class="text-center"> Create your Event here</h1>
<br></br>
<div class="row justify-content-center">
  <div class="col-6">

    <%= form_for @event do |f|%>

      <%= label_tag 'Title', nil, :class =>"" %>
      <%=f.text_field :title, class: "form-control", required: true %>
      <br>
      <%= label_tag 'Description', nil, :class =>"" %>
      <%=f.text_area :description, class:"form-control", required: true%>
      <br>
      <%= label_tag 'Location', nil, :class =>"" %>
      <%=f.text_field :location, class: "form-control", required: true%>
      <br>
      <%= label_tag 'Start Date', nil, :class =>"" %>
      <%=f.date_field :start_date, class: "form-control", required: true%>
      <br>
      <%= label_tag 'Duration', nil, :class =>"" %>
      <%=f.number_field :duration, class: "form-control", required: true%>
      <br>
      <%= label_tag 'Price', nil, :class =>"" %>
      <%=f.number_field :price, class: "form-control", required: true %>
      <br>
      <div class="row justify-content-center">
      <%= submit_tag "Create event", :class => "btn btn-secondary btn-lg" %>
      </div>
  <% end %>
</div>
</div>
