<% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Your event cannot be created for the following reasons:</p>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>




<br></br>
<h1 class="text-center"> Create your Event here</h1>
<br></br>
<div class="row justify-content-center">
  <div class="col-6">

    <%= form_for :events,  url:events_path, action: 'create', method: :post  do |f|%>

      <%= label_tag 'Title', nil, :class =>"" %>
      <%= text_field_tag 'title', @event.title, :class => "form-control" %>
      <br>
      <%= label_tag 'Description', nil, :class =>"" %>
      <%= text_area_tag 'description', @event.description, :class => "form-control", size: "50"%>
      <br>
      <%= label_tag 'City', nil, :class =>"" %>
      <%= text_field_tag 'description', @event.location, :class => "form-control" %>
      <br>
      <%= label_tag 'Start Date', nil, :class =>"" %>
      <%=f.text_field :start_date, class: "form-control", placeholder: "Start date", type:"datetime-local", size: "50"%>
      <br>
      <%= label_tag 'Duration', nil, :class =>"" %>
      <%= text_field_tag 'duration', @event.duration, :class => "form-control", size: "50" %>
      <br>
      <%= label_tag 'Price', nil, :class =>"" %>
      <%=f.text_field :price, class: "form-control", size: "50"%>
      <br>
      <div class="row justify-content-center">
      <%= submit_tag "Create event", :class => "btn btn-secondary btn-lg" %>
      </div>
  </div>
  <% end %>
</div>
